
{% extends 'pisocom/base.html' %}

{% load bootstrap3 %}

{% block title %}Registrarse{% endblock %}

{% block content %}
	<form method="POST" class="registration-form">
		<h2>Registrarse</h2>
		{% csrf_token %}

		{% for field in form %}
			{% if field.label == "Captcha" %} 
				<hr> 
				{% bootstrap_field field %}
				<hr>
			{% else %}
				{% bootstrap_field field %}
			{% endif %}
        {% endfor %}
		
		<div class="centered">
			<button type="submit" class="btn btn-primary">Crear cuenta</button>
		</div>
		

		
    </form>
{% endblock%}