{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<form method="POST" class="password-reset container">

  	{% csrf_token %}

    <h4><strong>Restablecer contraseña</strong></h4>

    <p> ¿Has olvidado tu clave? Introduce tu dirección de correo
    y te enviaremos las intrucciones para establecer una nueva.</p>

    {% bootstrap_form form show_label=False%}

    {% bootstrap_button "Restablecer contraseña" button_type="submit" button_class="btn-primary"%}
    {% bootstrap_button "Cancelar" button_type="link" href="/accounts/login" button_class="btn-default" %}
</form>
{% endblock %}
