{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Restablecimiento de contraseña enviado{% endblock %}

{% block content %}
  <div class="password-reset">

    <h4><strong>Restablecimiento de contraseña enviado!</strong></h4>

    <p>Te hemos enviado por email las instrucciones para restablecer la contraseña. <br>
    Deberías recibirlas en breve.</p>

    <p class="text-muted"><em>Si no recibes un correo, por favor asegúrate de que has introducido la dirección
    de correo con la que te registraste y comprueba tu carpeta de spam.</em></p>

    {% bootstrap_button "Volver al inicio de sesión" button_type="link" href="/accounts/login" button_class="btn-default" %}

  </div>
{% endblock %}
