{% load staticfiles %}
<html lang="es">
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pisocom</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- Right part of the navigation menu -->
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
              <li><a href="/profile/edit">Tu perfil</a></li>
              <li><a href="/">Añadir casa</a></li>
            {% endif %}
          </ul>
          <!-- Right part of the navigation menu -->
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout">Cerrar sesión</a></li>
            {% else %}
              <li><a href="/accounts/login">Iniciar sesión</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="box">
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>