{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Editar perfil{% endblock %}

{% block content %}
<form method="POST" class="edit-profile-form container">

  {% csrf_token %}
  <h3>Edita tu perfil</h3><hr>

  {% bootstrap_form form layout='horizontal'%}

  <div class='text-right'>
    {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn-primary"%}
    {% bootstrap_button "Cancelar" button_type="link" href='/' button_class="btn-default"%}
  </div>

</form>
{% endblock %}
