{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="message container">
	<h2>Hola de nuevo, {{user.username}}!</h2>
	<p>{% bootstrap_button "Editar perfil" button_type="link" href="/profile/edit" button_class="btn-default" %}</p>
	<p><a href="" class="btn btn-default" disabled=true>Añadir casa</a></p>
	<p><a href="" class="btn btn-default" disabled=true>Buscar casa</a></p>
	<p><a href="" class="btn btn-default" disabled=true>Buscar compañeros de piso</a></p>
	<p><a href="/accounts/logout" class="btn btn-default">Cerrar sesión</a></p>
</div>

{% endblock %}
